/* Colores corporativos */
:root {
    --color-principal: #858689; /* El color de las barras */
    --blanco: #ffffff;
    --gris-oscuro: #333333;
    --negro: #000000;
}

/* Separación entre los botones del navbar (no funciona) */
.navbar-nav .nav-item {
  margin-right: 4.5rem; /* Ajustar el valor */
}



/* Pie de página */
footer.bg-light {
    background-color: var(--color-principal)!important;
    color: var(--negro);
    text-align: center;
    padding: 10px;
}
