/* Colores corporativos */
:root {
    --color-principal: #858689; /* El color de las barras */
    --blanco: #ffffff;
    --gris-oscuro: #333333;
    --negro: #000000;
}


/* Pie de página */
footer.bg-light {
    background-color: var(--color-principal)!important;
    color: var(--negro);
    text-align: center;
    padding: 10px;
}
